
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden; 
}


#chatbox {
    z-index: 9999; 
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-scale {
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.05);
}

section {
    padding-bottom: 100px;
}